<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/companies-page">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all-equipment">Equipment</a>
      </li>
      <li class="nav-item dropdown" *ngIf="user && user.role === 0">
        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Appointments
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" [routerLink]="['users-scheduled-reservations']" >Scheduled</a></li>
          <li><a class="dropdown-item" [routerLink]="['barcodes-page']">QR Receipts</a></li>
          <li><a class="dropdown-item" [routerLink]="['users-processed-reservations']" >History of processed reservations</a></li>
        </ul>
      </li>
      <li class="nav-item" *ngIf="user && user.role === 1">
        <a class="nav-link" href="/reservations-page">Reservations</a>
      </li>
      <li class="nav-item">
      </li>

      <!-- Administration Menu -->
      <li class="nav-item dropdown" *ngIf="user && user.role == 2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Administration
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" [routerLink]="['register-sys-admin']">Register system admin</a></li>
            <li><a class="dropdown-item" [routerLink]="['register-company']">Register company</a></li>
        </ul>
    </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="user && user.email === ''">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="user && user.role == 0 && user.email !== ''">
        <a class="nav-link"  href="/user-profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="user && user.email !== ''">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </nav>
  
