<div class="container">
    <h1 class="mt-5">Scheduled appointments</h1>
    <div class="row mt-4">
      <div class="row mt-3">
      </div>
      <div class="col-md-12">
        <div *ngFor="let appointment of Appointments" class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text fs-5"><strong>Admin: {{ appointment.adminName }} {{ appointment.adminSurname }}</strong></p>
            <p class="card-text">Date of procurement: &nbsp; {{ appointment.start | date: 'mediumDate' }} &nbsp;&nbsp; {{ appointment.start | date: 'shortTime' }}</p>
            <p>Reserved equipment: </p>
            <ul>
              <li *ngFor="let equipment of appointment.equipment">
                {{ equipment.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  