<div>
    <h1>Register new system admin</h1>
    <form [formGroup]="adminForm">
          <div>
            <div class="form-group"  [ngClass]="{ 'has-error': adminForm.get('name')?.invalid && (adminForm.get('name')?.dirty || adminForm.get('name')?.touched) }">
              <label for="name">Name</label>
              <input id="name" formControlName="name" type="text" required>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': adminForm.get('surname')?.invalid && (adminForm.get('surname')?.dirty || adminForm.get('surname')?.touched) }">
              <label for="surname">Surname</label>
              <input id="surname" formControlName="surname" type="text" required>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': adminForm.get('email')?.invalid && (adminForm.get('email')?.dirty || adminForm.get('email')?.touched) }">
              <label for="email">Email</label>
              <input id="email" formControlName="email" type="email"  required>
              <div *ngIf="adminForm.get('email')?.invalid && adminForm.get('email')?.touched" class="error-message">
                Email must be a valid email address.
              </div>
            </div>
          </div>
          <div class="label-item">
            <button class="switch-btn" (click)="registerSysAdmin()">Register</button>
          </div>
    </form>
    <div *ngIf="adminForm.invalid" class="invalid-message">
        Some fields are invalid. Please fill all required fields correctly.
    </div>
    <div *ngIf="response" class="correct-message">
      Registration successfully completed.
  </div>
</div>