body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  form {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    margin: auto;
  }
  
  .address-flex-box{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .adress-fields{
    width: 65%;
  }
  
  .switch-btn{
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    padding: 8px;
    border-radius: 3px;
    border-style: none;
    border-bottom: 1px solid #ccc; 
    width: calc(100% - 18px);
    box-sizing: border-box;
    margin-top: 4px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .has-error input, .has-error textarea {
    border-color: red;
  }
  
  .has-error .help-block {
    color: red;
  }
  
  .invalid-message {
    color: red;
    margin-top: 10px;
    text-align: center; 
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  